{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}issue book{% endblock %}
{% block  content %}
	{% if request.user.is_authenticated %}	
<div  class="col-sm-8 offset-sm-2">
<h5 class="text-center">SEARCH BOOK</h5>
</br>
<form action="/issuebook/" method="POST">
		{% csrf_token %}
		<h6>
			<div class="form-group">
			{{ form.bid|as_crispy_field }}
			</div>
		<button type="submit" class="btn btn-success btn" >Search Book</button>
	</h6>
</form>
</div>
<br/>
	{% endif %}
{% endblock %}