<!----- tabs-box ---->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}login{% endblock %}
{% block content %}
{% if not request.user.is_authenticated %}
<div class="">
	<div class="card border-primary mb-3 ">
		<div class="card-header text-center bg-primary">
			<h4 class="text-center text-white">LOGIN</h4>
		</div>
		<div class="card-body">
			<br />
			<form action="/signin/" method="POST">
				{% csrf_token %}
				<h6>
					<div class="form-group">{{ form.username|as_crispy_field }}</div>
					<div class="form-group">{{ form.password|as_crispy_field }}</div>
					<input type="submit" class="btn btn-primary btn" value="SIGN IN" />
				</h6>
			</form>
			<br />
			<h6><span class="font-italic font-weight-bold"> Don't Have An Account?</span></h6>
			<a href="/signup/"><span class="btn btn-success btn">SIGNUP NOW</span></a>
			<br />
		</div>
		<div class="card-footer text-muted bg-primary">
			<p class=" font-italic text-center text-white">~ by Jawahar Naovodaya Vidyalaya</p>
		</div>
	</div>
</div>
<br />
{% endif %}
{% endblock %}